@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'FuturaPTlight';
  src: url('/fonts/FuturaCyrillicLight.ttf') format('sans-serif'),;
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Tomatoes';
  src: url('/fonts/Tomatoes-O8L8.ttf') format('sans-serif');
  font-weight: normal;
  font-style: normal;
}

body {
  overflow: hidden; 
  font-family: 'FuturaPTlight', sans-serif;
}

div {
  font-family: 'FuturaPTlight';
}

/* styles/globals.css */
.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

.scrollbar-hidden {
  -ms-overflow-style: none;  /* Hide scrollbar for Internet Explorer and Edge */
  scrollbar-width: none;  /* Hide scrollbar for Firefox */
}

.modal-overlay {
  cursor: default; /* Prevents the pointer cursor on the overlay */
}




.extra-margin {
  margin-left: 9vw; /* Adjust to position all elements further right */
}

.text-with-image {
  display: flex;
  flex-direction: column; /* Stack items vertically */
}

.static-text {
  font-family: 'Segoe Script', cursive;
  font-size: 1rem;
  color: white;
}

.shape-image {
  width: 40px; /* Adjust size as needed */
  height: auto;
}

.mr-2 {
  margin-right: 0.5rem; /* Space between image and text */
}

/* Scrollbar container */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  background-color: #1a1a1a; /* Background color of the scrollbar track */
}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #555; /* Color of the scrollbar thumb */
  border-radius: 4px; /* Rounded corners for the scrollbar thumb */
}

/* Hover effect on the thumb */
::-webkit-scrollbar-thumb:hover {
  background-color: #888; /* Darker shade when hovered */
}

/* Optional: Scrollbar corner when scrolling both horizontally and vertically */
::-webkit-scrollbar-corner {
  background-color: #1a1a1a; /* Corner color */
}
