@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Host Grotesk';
  src: url('/HostGrotesk-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

body {
  overflow: hidden; 
  background-color: #1a1a1a;
  font-family: 'Host Grotesk', sans-serif;
}




/* globals.css or a specific CSS module */



.extra-margin {
  margin: 0 2vw; /* Add any additional margins you want */
}

.static-text {
  font-family: 'Host Grotesk', cursive;
  
  color: white;
}

.shape-image {
  width: 40px; /* Adjust size as needed */
  height: auto;
}

.mr-2 {
  margin-right: 0.5rem; /* Space between image and text */
}

/* Scrollbar container */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  background-color: #1a1a1a; /* Background color of the scrollbar track */
}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #555; /* Color of the scrollbar thumb */
  border-radius: 4px; /* Rounded corners for the scrollbar thumb */
}

/* Hover effect on the thumb */
::-webkit-scrollbar-thumb:hover {
  background-color: #888; /* Darker shade when hovered */
}

/* Optional: Scrollbar corner when scrolling both horizontally and vertically */
::-webkit-scrollbar-corner {
  background-color: #1a1a1a; /* Corner color */
}


/* Ensure custom background and text colors are preserved during autofill */
input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover,
input:-internal-autofill-selected {
    -webkit-box-shadow: 0 0 0 30px #363636 inset !important; /* Keeps the background color */
    box-shadow: 0 0 0 30px #363636 inset !important; /* Keeps the background color */
    -webkit-text-fill-color: #ffffff !important; /* Ensures the text remains white */
    caret-color: #ffffff; /* Keeps the cursor color consistent */
}


/* globals.css or a specific CSS module */

.move-right {
  transform: translateX(14vw); /* Adjust the value as needed */
}

